*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia',sans-serif;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
    background: url('images/rm422-047-kq92wx9y.jpg');
}

.input-label{
    display: flex;
    justify-content: center;
}
.input-submit label a{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.1,1.1);
}
nav{
    position: relative;
    margin-bottom: auto;
    width: max-content;

}