/* .foot{
    background-color: rgb(204, 193, 177);
    text-align: center;
}
#foot1{
    background-color: rgb(204, 193, 177);
    text-align: center;
}
.footdiv{
    background-color: rgb(204, 193, 177);
    flex-direction: column;
    
} */